#window {
  background: --wofi-color0;
  margin: 10px;
  padding: 10px;
  border: 2px solid --wofi-color4;
  background-color: --wofi-color0;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  background: linear-gradient(45deg, --wofi-color2, --wofi-color3);
  outline: none;
  border: 1px solid transparent;
  font-weight: bold;
}

#outer-box {
  padding: 15px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 05px;
  background-color: --wofi-color0;
}

#entry:selected {
  font-weight: bold;
}

#text {
  margin: 2px;
  color: #cccccc;
}
