* {
    font-family: FiraCode Nerd Font;
    font-size: 13px;
    min-height: 0;
    font-weight: bold;
}

#waybar {
    background: transparent;
    color: #ffffff;
}

#waybar > * {
  margin: 7px 0;
}

#workspaces {
  margin-left: 10px;
}

#clock {
  margin-right: 10px;
}

#workspaces button {
    padding: 5px;
    background-color: transparent;
    color: #ffffff;
    border: none;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#custom-idle_toggle,
#workspaces, 
#window, 
#pulseaudio, 
#cpu, 
#custom-qjackctl-graph, 
#custom-swaync, 
#memory, 
#clock, 
#bluetooth, 
#tray {
    background: #1a1b26;
    padding: 2px 10px;
    margin: 0 4px;
    border-radius: 5px;
}

#custom-idle_toggle {
    padding: 2px 12px;
}

#custom-idle_toggle.activated {
    color: #ff5555;
}

#pulseaudio.muted:not(.microphone),
#pulseaudio.microphone.source-muted {
    color: #ff5555;
}
